/* CSS stylesheet  for application */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

.btn--createandlogin, .btn--createandlogin {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
    border-radius: 30px;
    text-decoration: none;
    border-color: #3c1460;
}

.btn--createandlogin--full, .btn--createandlogin--full{
    background-color: #3c1460;
    color: #fff;
}

.UsernameInputField{
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    margin-bottom: 7px;
    margin-top: 8px;
    border-color: #3c1460;
}

.PasswordInputField{
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    margin-bottom: 7px;
    border-color: #3c1460;
}

.EmailInputField{
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    margin-bottom: 7px;
    border-color: #3c1460;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    text-indent: 5px;
}

.row{
    width: 50rem;
}

.AboutUsPictures{
    height: 150px;
    width: 150px;
}

.card{
    width: 200px;
}

.sectionCust