/* CSS stylesheet  for application */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

.btn--createandlogin, .btn--createandlogin {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
    border-radius: 30px;
    text-decoration: none;
    border-color: #3c1460;
}

.btn--createandlogin--full, .btn--createandlogin--full{
    background-color: #3c1460;
    color: #fff;
}

.UsernameInputField{
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    margin-bottom: 7px;
    margin-top: 8px;
    border-color: #3c1460;
}

.PasswordInputField{
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    margin-bottom: 7px;
    border-color: #3c1460;
}

.EmailInputField{
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    margin-bottom: 7px;
    border-color: #3c1460;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    text-indent: 5px;
}

.row{
    width: 50rem;
}

.AboutUsPictures{
    height: 150px;
    width: 150px;
}

.card{
    width: 200px;
}

.aboutUs-section{
    background-color: #ece8ef;
    padding: 6rem 5rem;
}

.gapBetweenCards{
    border-color: black;
    border-width: medium;
    margin-left: 200px;
    margin-right: 200px;
}

.positionCards{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    /*margin-top: 100px;*/
    width: 10rem;
    display: grid;
    /*margin: rem auto;*/


}

.middleCardSize{
    /*width: 18rem;*/
    /*height:  30rem;*/

}

.sideCardsSize{
    width: 75%;
    height: 75%;

}


.profilePage-section{
    background-color: #ece8ef;
    padding: 5rem 5rem 5rem;
}

.profilePage-information{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;

}

.profilePage-WelcomeMessage{
    font-size: 5rem;
    color: #3c1460;

}

.shapeAroundAboutUsText{
    width:62rem;
    height: 10rem;
    border-radius: 5%;
    background-color: #ece8ef;
    margin-bottom: 5rem;
}

.aboutUsPageHeader{
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.05;
    color: #3c1460;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.aboutUsPageText{
    margin-left: 5px;
    font-size: 1.5rem;


}