/* CSS stylesheet  for application */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}
#congratulations{
    font-size: 26px;
}
.checkoutText{
    font-size: 18px ;
}
.shoppingCartHeader{
    width: 100px; float:left; height:50px; margin:20px; margin-top: 20px;

}
.shoppingCartText{
    font-size: 22px;
}
.shoppingCartHeaders{
    max-width: 100%;
    height:30px; margin:10px;

}
.shoppingCartHeaders2{
    max-width: 100%;
    height:30px; margin:10px;

}
#leftHeader{
margin-left: 300px;
}
#leftHeader2{
    margin-left: 300px;
}

